<ion-header translucent>
    <ion-toolbar>
        <ion-title>TEC</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="cerrarSesion()" color="danger">
                Cerrar sesión
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content style="background-color: beige;">
    <ion-card style="align-content: center;">
        <ion-card-header>
            <ion-card-title>Registro de entrada</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button expand="block" color="success" (click)="registroEntada()" slot="end">Comenzar</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Registro de salida</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button expand="block" color="primary" (click)="registroSalida()" slot="end">Comenzar</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>