<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Registro de salidas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-searchbar #buscarText (keyup)="buscar(buscarText.value)" placeholder="Buscar placa"></ion-searchbar>
    <ion-item>
        <ion-label>Mostrar mensaje de confirmación</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="confirmacion" checked="true"></ion-checkbox>
    </ion-item>
    <ion-list>
        <ion-item button (click)="registrarSalida(entrada)" *ngFor="let entrada of buscar(buscarText.value)">
            <ion-avatar slot="start">
                <img src="../../../assets/icon/assistance.png">
            </ion-avatar>
            <ion-label>
                <h2>No. de placa: {{entrada.placa}}</h2>
                <h3>Fecha de entrada: {{entrada.fecha}}</h3>
                <p>Carril de entrada: {{entrada.carrilEntrada}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="sincronizar()">
            <ion-icon name="sync"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>