<ion-card>
    <ion-card-header>
        <img src="../../../../assets/icon/covi_logo.png" />
        <ion-card-subtitle>Inicio de sesión - TEC</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <form [formGroup]="formLogin">
            <div padding>
                <ion-item>
                    <ion-label position="floating">Usuario</ion-label>
                    <ion-input formControlName="nombre"></ion-input>
                </ion-item>
                <div *ngIf="(formLogin.get('nombre').dirty || formLogin.get('nombre').touched)">
                    <div *ngIf="(formLogin.get('nombre').errors?.required)" class="text-danger">
                        <small>
                          * Ingrese su nombre de usuario o correo electrónico
                      </small>
                    </div>
                </div>
                <ion-item>
                    <ion-label position="floating">Contraseña</ion-label>
                    <ion-input formControlName="contrasenia" type="password"></ion-input>
                </ion-item>
                <div *ngIf="(formLogin.get('contrasenia').dirty || formLogin.get('contrasenia').touched)">
                    <div *ngIf="(formLogin.get('contrasenia').errors?.required)" class="text-danger">
                        <small>
                          * Ingrese su contraseña
                      </small>
                    </div>
                </div>
            </div>
            <br>
            <ion-button color="success" (click)="submit()" expand="block">Iniciar sesión</ion-button>
        </form>
    </ion-card-content>
</ion-card>