<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/peaje"></ion-back-button>
        </ion-buttons>
        <ion-title>Entradas</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="formEntrada">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-card-header style="height: 100%; display: flex; align-items: center; justify-content: center; padding-top: 10px;padding-bottom: 0px;">
                <ion-card-title>Carril No. {{carril}}</ion-card-title>
            </ion-card-header>
            <ion-card>
                <ion-card-header style="height: 100%; display: flex; align-items: center; justify-content: center;">
                    <ion-card-title>Número de placa</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <ion-list lines="full">
                        <ion-item>
                            <ion-input style="text-align: center !important; -moz-text-align-last: center !important; text-align-last: center !important; font-size: 24px !important;" formControlName="numeroPlaca" required type="text"></ion-input>
                        </ion-item>
                        <div *ngIf="(formEntrada.get('numeroPlaca').dirty || formEntrada.get('numeroPlaca').touched)">
                            <ion-text color="danger" *ngIf="formEntrada.get('numeroPlaca').errors?.required">
                                <small> * La placa del vehículo es obligatoria</small>
                            </ion-text>
                            <ion-text color="danger" *ngIf="formEntrada.get('numeroPlaca').errors?.maxlength">
                                <small> * La placa del vehículo no debe exceder los 10 caracteres</small>
                            </ion-text>
                            <ion-text color="danger" *ngIf="formEntrada.get('numeroPlaca').errors?.pattern">
                                <small> * Caracteres permitidos: letras y números</small>
                            </ion-text>
                        </div>
                    </ion-list>
                </ion-card-content>
            </ion-card>

            <ion-item>
                <ion-label position="stacked">Tipo de vehículo
                </ion-label>
                <ion-select formControlName="idTipoVehiculo" placeholder="-- Seleccione --" cancel-text="Cancelar" ok-text="Aceptar">
                    <ion-select-option *ngFor="let tipo of tipoVehiculos" [value]="tipo.idTipoVehiculo">{{tipo.tipoVehiculo1}}</ion-select-option>
                </ion-select>

            </ion-item>

            <ion-item>
                <ion-label position="stacked">Número de ejes
                </ion-label>
                <ion-input formControlName="numeroEjes" required type="text"></ion-input>

            </ion-item>
            <div *ngIf="(formEntrada.get('numeroEjes').dirty || formEntrada.get('numeroEjes').touched)">
                <ion-text color="danger" *ngIf="formEntrada.get('numeroEjes').errors?.pattern?.requiredPattern">
                    <small> * Ingrese solo números</small>
                </ion-text>
                <ion-text color="danger" *ngIf="formEntrada.get('numeroEjes').errors?.maxlength">
                    <small> * Ingrese un número de ejes válido</small>
                </ion-text>
            </div>
        </ion-list>
        <div class="ion-padding">
            <ion-button expand="block" color="success" type="button" (click)="guardar()" class="ion-no-margin">Guardar</ion-button>
        </div>
    </form>

</ion-content>